<% if flash[:notice].present? %>
  <div class="alert alert-success text-center" role="alert">
    <%= flash[:notice] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>


<div class="container py-5">
  <div class="row">
    <div class="col-12 px-3">
      <div class="bg-light rounded border text-left p-4">
        <div class="text-right">
          Créé le <%= @gossip.created_at.strftime("%d/%m/%Y") %>
        </div>
        <h1> <%= @gossip.title %> </h1>
        <p> <%= @gossip.content %> </p>
        <p>
          Par <%= link_to "#{@gossip.user.first_name}", user_path(@gossip.user.id) %>
          à <%= link_to "#{@gossip.user.city.name}", city_path(@gossip.user.city) %>
        </p>
        <div class="text-right">

          <% if is_mine(@gossip, current_user) %>
            <%= link_to "Retourner aux Gossips", root_path, :class => "btn btn-link" %>
            <%= link_to "Modifier", edit_gossip_path, :class => "btn btn-outline-primary" %>
            <%= link_to  "Supprimer", gossip_path(@gossip.id), method: :delete, data:{confirm: "Tu veux vraiment supprimer ce potin ?"}, class:"btn btn-outline-danger" %>
          <%else%>
            <%= link_to "Retourner aux Gossips", root_path, :class => "btn btn-link" %>
          <%end%>
        </div>
      </div>
    </div>

    <div class="col-12 px-3 mt-4">
      <div class="bg-light rounded border text-left p-3">
        <h2 class="m-4">Commentaires </h2>

          <div class="form-group m-3">
            <%= form_tag gossip_comments_path(@gossip.id), method: "post" do %>
              <%= label_tag 'Écrire un commentaire' %>
              <%= text_area_tag 'content', "", class: "form-control" %>
              <%= submit_tag "Créer commentaire",  class: "btn btn-primary my-4" %>
            <% end %>
          </div>

        <% @gossip.comments.each do |comment| %>
          <div class="list-group m-3">
            <div class="list-group-item list-group-item-action">
              <div class="text-right">
                <small><%= comment.created_at.strftime("%d/%m/%Y")%></small>
              </div>
              <p class="mb-1"><%= comment.content %></p>
              <small>
                Par <%= link_to "#{comment.user.first_name}", user_path(comment.user.id) %>
              </small><br>
              <% if is_mine(comment, current_user) %>
                <div class="text-right">
                  <%= link_to "Modifier", edit_gossip_comment_path(@gossip.id, comment.id), class:"btn btn-outline-primary btn-sm" %>
                  <%= link_to  "Supprimer", gossip_comment_path(@gossip.id, comment.id), method: :delete, data:{confirm: "Tu veux vraiment supprimer ton commentaire ?"}, class:"btn btn-outline-danger btn-sm" %><br>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
